# Virtual Environment
venv/
vienv/
env/

# Python Cache
__pycache__/
*.pyc

# Database
db.sqlite3

# Static Files
staticfiles/

# Media Files
media/

# VS Code
.vscode/

# Environment Variables
.env

# Windows
Thumbs.db
Desktop.ini