{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">


<div class="col-lg-8">

    <div class="card shadow-lg border-0">

        <div class="card-header bg-primary text-white">

            <h4 class="mb-0">

                <i class="bi bi-cash-coin"></i>

                Add Expense

            </h4>

        </div>

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                <div class="mb-3">

                    <label class="form-label fw-bold">

                        Event

                    </label>

                    {{ form.event }}

                </div>

                <div class="mb-3">

                    <label class="form-label fw-bold">

                        Expense Type

                    </label>

                    {{ form.expense_type }}

                </div>

                <div class="mb-3">

                    <label class="form-label fw-bold">

                        Amount (₹)

                    </label>

                    {{ form.amount }}

                </div>

                <div class="mb-3">

                    <label class="form-label fw-bold">

                        Expense Date

                    </label>

                    {{ form.expense_date }}

                </div>

                <div class="mb-3">

                    <label class="form-label fw-bold">

                        Description

                    </label>

                    {{ form.description }}

                </div>

                <button
                type="submit"
                class="btn btn-success">

                    <i class="bi bi-check-circle"></i>

                    Save Expense

                </button>

                <a href="{% url 'expense_list' %}"
                class="btn btn-secondary">

                    <i class="bi bi-arrow-left"></i>

                    Back

                </a>

            </form>

        </div>

    </div>

</div>


</div>

{% endblock %}
