{% extends 'base.html' %}

{% block content %}

<h2>Workers</h2>

<a href="{% url 'worker_add' %}"
class="btn btn-primary mb-3">

Add Worker

</a>

<table class="table table-striped table-hover shadow">

<tr>
    <th>Name</th>
    <th>Mobile</th>
    <th>Salary</th>
    <th>Action</th>
</tr>

{% for w in workers %}

<tr>

    <td>{{ w.name }}</td>
    <td>{{ w.mobile }}</td>
    <td>{{ w.salary }}</td>

    <td>

        <a href="{% url 'worker_edit' w.id %}"
        class="btn btn-warning">

        Edit

        </a>

        <a href="{% url 'worker_delete' w.id %}"
        class="btn btn-danger">

        Delete

        </a>

    </td>

</tr>

{% endfor %}

</table>

{% endblock %}