{% extends 'base.html' %}

{% block content %}

<h2>Monthly Salary Report</h2>

<form method="GET" class="mb-3">

    <select name="month" class="form-control">

        <option value="">Select Month</option>

        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>

    </select>

    <button class="btn btn-primary mt-2">
        Generate Report
    </button>
    
<a href="{% url 'salary_report_pdf' %}"
   class="btn btn-success mt-3">

   Download PDF

</a>
</form>

<table class="table table-bordered">

    <tr>
        <th>Worker</th>
        <th>Total Salary</th>
    </tr>

    {% for worker, salary in workers_salary.items %}

    <tr>
        <td>{{ worker }}</td>
        <td>₹{{ salary }}</td>
    </tr>

    {% endfor %}

</table>

{% endblock %}